.mypage-main
  = render "left-content"
  .pay-method
    .pay-method__box
      .pay-method__box__text
        = "クレジットカード"
      .pay-method__box__register
        = link_to new_card_path, class: "register" do
          = "新しいクレジットカードを登録する"
      .pay-method__box__all-cards
        .card-box
          .registered-card
            = "登録済みのカード"
          .edit-delete
            .edit
              = link_to "#", class: "edit-delete-btn" do
                = "編集"
            .delete
              = link_to "#", class: "edit-delete-btn" do
                = "削除"
        .card-box
          .registered-card
            = "登録済みのカード"
          .edit-delete
            .edit
              = link_to "#", class: "edit-delete-btn" do
                = "編集"
            .delete
              = link_to "#", class: "edit-delete-btn" do
                = "削除"
        .card-box
          .registered-card
            = "登録済みのカード"
          .edit-delete
            .edit
              = link_to "#", class: "edit-delete-btn" do
                = "編集"
            .delete
              = link_to "#", class: "edit-delete-btn" do
                = "削除"
        .card-box
          .registered-card
            = "登録済みのカード"
          .edit-delete
            .edit
              = link_to "#", class: "edit-delete-btn" do
                = "編集"
            .delete
              = link_to "#", class: "edit-delete-btn" do
                = "削除"


