.devise
  .devise__loginbox
    .devise__loginbox__text
      = "ログイン"
    .devise__loginbox__form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "input-text"
        .field
          %br/
          = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "input-text"
        - if devise_mapping.rememberable?
          .field-remember
            = f.check_box :remember_me
            = f.label :remember_me, class: "text"
        .actions
          = f.submit "ログインする", class: "submit-btn"
