.header
  .header__body
    .header__body--top
      %h1.header__body--top--icons
        = link_to "#", class: "header__body--top--icons--icon" do
          = image_tag 'logo/logo.png', class: 'header__body--top--icons--icon--logo'
      .form
        = form_with url: root_path do |f|
          = f.text_field :content, class: 'form__input', placeholder: 'キーワードから探す'
          = f.submit class: 'form__submitBtn'
      %ul.result
    .header__body--nav
      %ul.navLeft
        = render "category"
        %li.brand
          = link_to "#", class:"nav-list" do
            ブランド
      %ul.navRight
        - if user_signed_in?
          %li.login
            = link_to users_path, class: "nav-list" do
              マイページ
          %li.register
            = link_to destroy_user_session_path, method: :delete, class: "nav-list" do
              ログアウト
        - else
          %li.login
            = link_to new_user_session_path, class: "nav-list" do
              ログイン
          %li.register
            = link_to new_user_registration_path, class: "nav-list" do
              新規会員登録
        