- @items.each do |item|
  .main__newPostList__searchBox--lists--product
    = link_to item_path(item), class: "pic" do
      %figure.productImage
        = image_tag item.item_images.first.url.url, class: 'image'
      .productBody
        %h3.productBody--name
          = truncate("#{item.name}", length:14)
        .productBody--date
          %ul.productBody--date--box
            %li
              = "#{item.price}円"
            %li
              %i.fas.fa-star
                1
          %p
            (税込)