.item-box
  .item-title
    %p 商品名
  .item-box__other
    .item-image
    .item-user__data
      %ul.user-name
        %li.user-name__sample
          %p 出品者
        %li.user-name__real
        = link_to '#', class: '' do
      %ul.item-category
        %li.item-category__sample
          %p カテゴリー
        %li.item-category__real
        = link_to '#', class: '' do
      %ul.item-brand
        %li.item-brand__sample
          %p ブランド
        %li.item-brand__real
        = link_to '#', class: '' %do
      %ul.item-status
        %li.item-status__sample
          %p 商品の状態
        %li.item-status__real
          %p 目立った傷や汚れなし
      %ul.delivery-fee
        %li.delivery-fee__sample
          %p 配送料の負担
        %li.delivery-fee__real
          %p 送料込み（出品者負担）
      %ul.delivery-method
        %li.delivery-method__sample
          %p 配送の方法
        %li.delivery-method__real
          %p らくらくフリマ便
      %ul.delivery-region
        %li.delivery-region__sample
          %p  配送元地域
        %li.delivery-region__real
          %p 大阪府
      %ul.item-standard
        %li.item-standard__sample
          %p 発送日の目安
        %li.item-standard__real
          %p 1~2日で発送
  .item-price
    %p ¥3,000  (税込み)送料込み
  .user-comment
    = f.textarea :comment, placeholder: 'ここにコメントを書いてください', class: "comment-text"
  .item-settings
    = f.submit '商品の編集', class: 'item-update__btn'
    %p or
    = f.submit '出品を再開する', class: 'sell-restart__btn'
    = f.submit 'この商品を削除する', class: 'item-delete__btn'
    