.header
  .header__body
    .header__body--top
      = image_tag 'logo/logo.png', height: 40, width: 140, class: 'header__body--top--logo'
      .form    
        = form_with url: root_path do |f|
          = f.text_field :content, class: 'form__input', placeholder: 'キーワードから探す'
          = f.submit class: 'form__submit'
          = image_tag 'icon/icon-search 1.png', height: 37, width: 36, class: 'form__icon'
      %ul.result      
    .header__body--nav
      %ul.navLeft
        %li.category
          %a(href="#")
            カテゴリー
          -# .category__tree
          -#   %ul.category__list
          -#     %li.category__list--item
        %li.brand
          %a(href="#")
            ブランド
          -# .brand__tree
          -#   %ul.brand__list
          -#     %li.brand__list--item
      %ul.navRight
        %li.login
          %a(href="#")
            ログイン
        %li.register
          %a(href="#")
            新規会員登録
.main
  %section.main__beginning
  %section.main__reason
  %section.main__mainBanner
  %section.main__advantage
  %section.newPostList
  %section.postList
.appbanner
.footer
.purchase