.card
  .card__box
    .card__box__text
      = "クレジットカード情報入力"
    .card__box__form
      = form_with url: cards_path do |f|
        .field
          = f.label :card_number, "カード番号"
          = f.text_field :card_number, autofocus: true, placeholder: "半角英数", class: "input"
        .field
          = f.label :exp_date, "有効期限"
          .field-select
            .input-select
              = f.select :exp_month, [["--", 0], ["1", 1], ["2", 2],["3", 3],["4", 4],["5", 5],["6", 6],["7", 7],["8", 8],["9", 9],["10", 10],["11", 11],["12", 12]]
              %span 月
            .input-select
              = f.select :exp_year, [["--", 0], ["2020", 20], ["2021", 21], ["2022", 22], ["2023", 23], ["2024", 24], ["2025", 25], ["2026", 26], ["2027", 27], ["2028", 28], ["2029", 29], ["2030", 30]]
              %span 年
        .field
          = f.label :security_code, "セキュリティコード"
          = f.text_field :security_code, autofocus: true, placeholder: "カード背面の4桁または3桁の番号", class: "input"
        .actions
          = f.submit "登録する", class: "submit-btn"
